body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.info{
    padding: 1rem;
    display: flex;
    gap: 4rem;
}

.info__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__card small{
    font-size: 18px;
}

.info__card p{
    border: 1px solid black;
    padding: 1rem;
}

